.sidebar {
    display: inline-block;
    width: 200px;
    height: 550px;
    float: left;
    overflow: auto;
}

.inventory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#map {
    width: 850px;
    height: 550px;
    background: #c2b280;
    display: inline-block;
    float: left;
    background-size: 25px 25px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

#counts {
    width: 250px;
    display: inline-block;
}

main {
    width: 1300px;
}

.tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
	box-sizing: border-box;
    background-color: gray;
    cursor: pointer;
    font-weight: bold;
	margin: 0 0 5px;
	background-size: cover;
}

.cobblestone-left-turn {
    background-image: url("images/cobblestone-left-turn.jpg");
}

.cobblestone-right-turn {
    background-image: url("images/cobblestone-right-turn.jpg");
}

.cobblestone-street {
    background-image: url("images/cobblestone-street.jpg");
}

.dungeon-stone {
    background-image: url("images/dungeon-stone.jpg");
}

.dungeon-stone-large {
    background-image: url("images/dungeon-stone-large.jpg");
}

.dungeon-wood {
    background-image: url("images/dungeon-wood.jpg");
}

.dungeon-wood-large {
    background-image: url("images/dungeon-wood-large.jpg");
}

.flagstone-left-turn {
    background-image: url("images/flagstone-left-turn.jpg");
}

.flagstone-right-turn {
    background-image: url("images/flagstone-right-turn.jpg");
}

.flagstone-sidewalk {
    background-image: url("images/flagstone-sidewalk.jpg");
}

.half-street {
    background-image: url("images/half-street.jpg");
}

.street-inside-corner {
    background-image: url("images/street-inside-corner.jpg");
}

.street-outside-corner {
    background-image: url("images/street-outside-corner.jpg");
}

.town-stone {
    background-image: url("images/town-stone.jpg");
}

.town-wood {
    background-image: url("images/town-wood.jpg");
}

.tile:hover {
	cursor: move;
}

.tile-large {
	width: 100px;
    height: 100px;
}


#option-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
#option-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

#option-menu li:hover {
    background-color: #DEF;
}